<!DOCTYPE html>
<html>
<head>
	<title>Pope Up</title>
</head>

<body>
	<h1>Pope Up</h1>

  <ul>
  	<li>
  		<h3>Home</h3>
  	</li>
  	<li>
  		<h3>About</h3>
  	</li>
  	<li>
  		<h3>Resources</h3>
  	</li>
  	<li>
  		<h3>Contact Us</h3>
  	</li>
  </ul>

	<p>Welcome. You're coming to Philly to see the Poope? The Pope cares about a lot of issues. Like:</p>

	<form>
		<input type="radio" name="environment" value="True" checked>Environment
		<input type="radio" name="lgbtq" value="True">LGBTQ
		<input type="radio" name="immigration" value="True">Immigration
		<input type="radio" name="poverty" value="True">Poverty

		<p>Check off what <u>you</u> are interested about and learn a little about how Philly is working on these issues.</p>

		<input type="submit" value="Submit">
	</form>

</body>

</html>