{% extends "base.html" %}

{% block head %} 
{{ super() }}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="container">	

<div class="row">	
<p>Welcome. You're coming to Philly to see the Pope? The Pope cares about a lot of issues. Like:</p>
</div>


<div class="row">

<form method="POST" action="/issues" name="issue_form">
	<div id="formParent">
		<div id="formElements">
			<p>{{ form.environment }} Environment</p>
			<p>{{ form.lgbtq }} LGBTQ</p>
			<p>{{ form.poverty }} Poverty</p>
			<p>{{ form.immigration }} Immigration</p>
		</div>
	</div>

	<p>Check off what <u>you</u> are interested about and learn a little about how Philly is working on these issues.</p>

	<input type="submit" value="Submit">
</form>



</div>
</div>
{% endblock %}