{% extends "base.html" %}

<!-- {% block head %} 
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %} -->

{% block content %}
<div class="container">
<div class="row">
<p>Welcome. You're coming to Philly to see the Pope? The Pope cares about a lot of issues. Like:</p>
</div>


<div class="row">

<form>
	{{ form.environment }} Environment
	{{ form.lgbtq }} LGBTQ
	{{ form.poverty }} Poverty
	{{ form.immigration }} Immigration

<!-- 	<input type="radio" name="environment" value="True" checked>Environment
	<input type="radio" name="lgbtq" value="True">LGBTQ
	<input type="radio" name="immigration" value="True">Immigration
	<input type="radio" name="poverty" value="True">Poverty
 -->
	<p>Check off what <u>you</u> are interested about and learn a little about how Philly is working on these issues.</p>

	<input type="submit" value="Submit">
</form>
</div>
</div>
{% endblock %}