{% extends "base.html" %}
{% block title %}Issues{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>You care about <u>environment</u> and <u>poverty</u>.</h1>

<h2>Here's what Philly's doing about these issues:</h2>

<section class="issue" data-issue="environment">
	<h1>Environment</h1>
	<h2>Philly organizations working to improve the environment:</h2>
	<ul class="issue-orgs">
	</ul>

<!-- 	<h2>Initiatives</h2>
	<ul class="issue-inits"> 
	</ul> -->
</section>

<section class="issue" data-issue="poverty">
	<h1>Poverty</h1>
	<h2>Philly organizations working to alleviate poverty:</h2>
	<ul class="issue-orgs">
	</ul>

<!-- 	<h2>Initiatives</h2>
	<ul class="issue-inits"> 
	</ul> -->
</section>


<section class="issue" data-issue="lgbtq">
	<h1>LGBTQ</h1>
	<h2>Philly organizations that support LGBTQ:</h2>
	<ul class="issue-orgs">
	</ul>

<!-- 	<h2>Initiatives</h2>
	<ul class="issue-inits"> 
	</ul> -->
</section>


<section class="issue" data-issue="poverty">
	<h1>Immigration</h1>
	<h2>Philly organizations working on immigration:</h2>
	<ul class="issue-orgs">
	</ul>

<!-- 	<h2>Initiatives</h2>
	<ul class="issue-inits"> 
	</ul> -->
</section>


<script>
	var issues = $('.issue').map(function () {return $(this).data('issue')});

	$(document).ready(function () {
		var request = $.get('/data/issues.json');

		request.done(function (data) {
			$.each(issues, function (i, e) {
				var issue_data = data[e];

				$.each(issue_data['organizations'], function (i, org) {
					var issue_section = $('.issue').filter('[data-issue="' + e + '"]');
					issue_section.find('.issue-orgs').append($('<li>' + org['name'] + '</li>'));
				})
			});
		});
	});

</script>

{% endblock %}