{% extends "base.html" %}
{% block title %}Issues{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<h1>You care about <u>environment</u> and <u>poverty</u>.</h1>

<h2>Here's what Philly's doing about these issues:</h2>

<h2>Organizations</h2>
<ul>
	<li>
		<p>test<p>
	</li>
</ul>

<h2>Initiatives</h2>
<ul>
	<li>
		<p>test<p>
	</li>
</ul>
{% endblock %}


<!-- 
<script>

$(document).ready(function() {
  var jsonp = 'issues.json'
  var lang = '';
  var obj = $.parseJSON(jsonp);
  $.each(obj, function() {
	lang += this['Lang'] + "<br/>";
  });
  $('span').html(lang);
});​

</script> -->